.navbar{
    background-color: #EFF7CF;
    position: sticky;
    top: 0;
    z-index: 100;
}
.menu__container{
  right: 10px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 37px;
  margin-right: 10px;
  cursor: pointer;
}
.navbar__container{
    height: 100px;
    margin: 0;
    display: grid;
    grid-template-columns: 35% 30% 30% 5%;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.navbarheader__container > h1{
    font-family: 'MedievalSharp', cursive;
    font-size: 50px;
    text-shadow: 5px 5px 10px;
    cursor: pointer;
    margin: 0;
}

.navbarheader__container > h1:hover{
    text-shadow: 10px 10px 10px;
    transition: .5s;
}

.navbarheader__container {
    display: flex;
    justify-content: center;
}

.navbarsearch__input {
    font-family: Raleway;
    border: none;
    background-color: #BAD9B5;
    height: 50px;
    width: 100%;
    border-radius: 50px;
    outline: none;
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid black;
    transition: .5s;
    padding-left: 20px;
    
}

.navbarsearch__input:focus{
  border-color: black;
  background-color: white;
  transition: .5s;
}
.navbarsearch__container {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 5px;
    width: 95%;
}
.navbarsearchbutton__container {
  background-color: black;
  height: 54px;
  width: 60px;
  position: absolute;
  right: -25px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  overflow: hidden;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;
}
.navbarsearch__container i {
    cursor: pointer;
    color: white;
    right: 35px;
    position: absolute;
}
.navbarsearch__form {
  position: relative;
  width: 85%;
}

.navbaraccount__container {
    display: flex;
    justify-content: center;
}

.navbaraccount__container{
    font-family: Raleway;
    background-color: #BAD9B5;
    width: 40%;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}
.account__dropdown:hover {
    box-shadow: 0px 5px 15px 0.1px #484848;
    transition: 0.5s;
  }
  
  .account__dropdown {

    justify-content: space-between;
    align-items: center;
    width: 130px;
    border: 1px solid lightgray;
    border-radius: 999px;
    padding: 5px 5px 5px 10px;
  }
  
  .dropdown__menu {
    width: 0px;
    height: 100vh;
    position: absolute;
    display: flex;
    right: -5px;
    top: 0px;
    border: 1px solid white;
    background-color: white;
    box-shadow: 0px 0px 10px 0.1px #484848;
    transition: .5s;
  }
  
  .dropdown__list {
    font-family: Raleway;
    /* padding: 0 20px 0 20px; */
    padding: 0;
    width: 100%;
    margin-top: 80px;
  }
  
  .dropdown__list > p {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    width: 100%;
    font-size: 25px;
  }
  .dropdown__list > button {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    width: 100%;
    border: none;
    background-color: white;
    outline: none;
    font-family: Raleway;
    font-size: 16px;
    text-align: start;
  }
  .dropdown__list > p:hover {
    background-color: #b1eab8;
    margin: 0px;
  }
  .dropdown__list > button:hover {
    background-color: #b1eab8;
    margin: 0px;
  }